body {
  margin: 0;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  background-image: url(Background.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 { 
  margin-top: 0;
  background-color: #30707b;
  opacity: 0.9;
  color: white;
  font-size: 50px;
  
}

#wrapper{
  background-color: rgb(8, 71, 65); 
  color: #fff; 
  opacity: 0.9;
  font-size: 25px;
  width: 50%;
  margin: 0px auto;
  padding: 50px 0px;
  margin-top: 100px;
}

p{
  font-size: 20px;
  text-align: center;
}

#guessField{
  color: black;
  width: 50%;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;
  font-size: 45px;
  border: 5px solid rgb(7, 75, 87);
  text-align: center;
}

#subt{
  background-color: rgb(0, 255, 76);
  color: black;
  width: 30%;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;
  border-style: none;
  margin-top: 10px;
}

#subt:hover{
  cursor: pointer;
}

.guesses{
  color: white;
  background-color: steelblue;
  font-size: 20px;
  width: 55%;
  margin: 10px auto 0px;
}

/* .lastResult{
  color: white;
  background-color: red;
  width: 60%;
  margin: 10px auto 0px;
  padding: 7px;
} */

button{
  background-color: seagreen;
  color: white;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  margin-top:5px;
}

